<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/27f1d6031f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="/articles/">Wikinimous</a>
      <a href="/articles/new">Add New Article</a>
    </nav>
    <div class="container pt-5">
      <%= yield %>
    </div>
  </body>
</html>
